{
  // Settings for BitBucket integration
  "bitbucket": {
    // BitBucket username
    "username": "",
    // The BitBucket app password created by following the instructions at
    // https://confluence.atlassian.com/bitbucket/app-passwords-828781300.html
    "password": "DO NOT PUT YOUR REAL PASSWORD HERE"
  },
  // Settings for Azure development VM
  "dev-vm": {
    // The name of the development VM (e.g., "malte-dev"). Mandatory.
    "name": "",
    // The resource group of the development VM (e.g., "malte-rg"). Will default to "<name>-rg" if unset.
    "resource-group": "",
    // Use tmux for SSH sessions. Defaults to false if unset.
    "use-tmux": false,
    // The name of your Azure ID file. Example: If it's ~/.ssh/azure_id_rsa, just put in azure_id_rsa.
    // (DO NOT put in the "~/.ssh".) Uses the default identity if unset.
    "id-file": ""
  }
}
